jupyterlab==3.6.7
gensim==4.0.1
matplotlib==3.4.2
nltk==3.9
pyLDAvis==3.3.1
pyspotlight==0.7.2
python-Levenshtein==0.12.2  # required for gensim
rdflib==6.0.0
scikit-learn==1.5.0
spacy==3.1.1
textblob==0.15.3
vaderSentiment==3.3.2
wheel==0.38.1
